/* Base styles */

*{
  margin:0;
  padding: 0;
}

body{
  height: 100%;
}


a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.container{
  margin-top: 30px;
  max-width: 640px;
}

.container-table{
  text-align: center;
}

.dropdown p{
  text-align: center;
  font-weight: bold;
}

#score{
  display: inline-block;

}

.center{
  margin: auto;
  text-align: center;
}
section{
  padding-bottom: 60px;
}
/*
footer{
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
} */

#rating-text{
  display: inline-block;
  margin-right: 15px;
}

.navbar{
  height: 100px;
}


.navbar_img{
  width: 100px;
}

.dropdown-toggle{
  width: 250px;
  text-align: center;
  margin: auto;
  display: block;
}

.dropdown-menu{
  width: 250px;
}

.table{
  max-width: 75%;
  margin: 25px auto;
  text-align: center;
}

textarea{
  display: block;
  margin: 20px auto;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  /* width: 0; */
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}
